<h1>Expenses dashboard</h1>
<hr></hr>

<div class="cards">
  <div id="rejected-card" class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      Rejected
    </div>
    <div class="card-copy">
      <p>Edit and resubmit these expenses before the 10th of the next month in order to claim a reimbursement on them.</p>
    </div>
    <div class="card-stats">
      <ul>
        <li class="count   "><%= @dashboard.rejected_count %><span> <%= "Expense".pluralize(@dashboard.rejected_count) %></span></li>
        <li class="total   "><%= number_with_precision @dashboard.rejected_total, precision: 2 %><span> <%= @dashboard.currency %></span></li>
      </ul>
    </div>
  </div>

  <div id="pending-card" class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Pending
    </div>
    <div class="card-copy">
      <p>These expenses will be reviewed by your supervisor before the 10th of the next month.</p>
    </div>
    <div class="card-stats">
      <ul>
        <li class="count   "><%= @dashboard.pending_count %><span> <%= "Expense".pluralize(@dashboard.pending_count) %></span></li>
        <li class="total   "><%= number_with_precision @dashboard.pending_total, precision: 2 %><span> <%= @dashboard.currency %></span></li>
      </ul>
    </div>
  </div>

  <div id="approved-card" class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
    </div>
    <div class="card-header">
      Approved
    </div>
    <div class="card-copy">
      <p>These expenses have been approved by your supervisor and will be reimbursed by the 15th of the following month.</p>
    </div>
    <div class="card-stats">
      <ul>
        <li class="due solo"><%= @approved_due %> <span><%= @dashboard.currency %> due</span></li>
      </ul>
    </div>
  </div>
</div>
