<%= content_tag_for :tr, job_title_assignment do %>
  <td><%= job_title_assignment.department_name %></td>
  <td><%= job_title_assignment.job_title_name %></td>
  <td><%= job_title_assignment.starts_on %></td>
  <td><%= job_title_assignment.ends_on %></td>
<% end %>
