<h1>Edit user profile</h1>
<hr></hr>

<%= simple_form_for @user do |f| %>
  <div class="left">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :default_currency, collection: ExchangeRate::CURRENCIES, required: true %>
  </div>
  <div class="right">
    <%= f.simple_fields_for :job_title_assignments do |jta_form| %>
      <fieldset>
        <%= jta_form.input :department_id, collection: Department.all, wrapper_html: { class: "big" } %>
        <%= jta_form.input :job_title_id, collection: JobTitle.all, wrapper_html: { class: "big" } %>
        <%= jta_form.input :starts_on, as: :string, input_html: { class: "datepicker" }, wrapper_html: { class: "big" } %>
        <%= jta_form.input :ends_on, as: :string,   input_html: { class: "datepicker" }, wrapper_html: { class: "big" } %>
      </fieldset>
    <% end %>
  </div>
  <%= f.button :submit %>
<% end %>
