<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <% if signed_in? %>
      <div class="nav">
        <ul id="navigation-menu">
          <li class="nav-link"><%= link_to "Read me", readme_path %></li>
          <li class="nav-link"><%= link_to "Dashboard", root_path %></li>
          <li class="nav-link"><%= link_to "Expenses", expenses_path %></li>
          <li class="nav-link"><%= link_to "Review", review_expenses_path %></li>
          <li class="nav-link"><%= link_to "Profile", [:edit, current_user] %></li>
        </ul>
      </div>
      <div class="navigation-tools">
        <%= link_to 'Sign out', sign_out_path, :method => :delete, class: "sign-up" %>
      </div>
    <% end %>
  </div>
</header>
